.Navbar {
  background: var(--background-color);
}

.Navbar nav ul li,
.menuIcon {
  color: var(--color);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.Navbar nav ul li a:after {
  background: var(--color);
}

.roleContainer {
  background: var(--background);
}
.roleContainer > p,
.roleContainer > span {
  color: var(--color);
}

.Home {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 3;
  align-self: center;
  justify-content: center;
  align-items: center;
  padding: 16px;
  justify-self: flex-start;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right {
  flex: 1.5;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.Home .video {
  width: 100%;
  height: 100%;
  margin: 0;
}

.Home img {
  width: 100%;
  max-width: 800px;
  height: 100%;
}

.Home .title a:hover,
.Home .title a:focus,
.Home .title a:active {
  text-decoration: underline;
}

.Home .title {
  margin: 0;
  line-height: 1.15;
  font-size: 3.5rem;
}

.Home .title,
.Home .description {
  text-align: center;
}

.Home .title span,
.Home .description {
  background: var(--colorHeaderHome);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

.Home .description {
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.5;
  font-size: 1.6rem;
  font-style: italic;
}

.socialMedia {
  display: flex;
  justify-content: center;
  padding: 8px;
}

.socialMedia > a {
  margin: 0 10px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 225px;
}

.buttonContainer button {
  color: var(--colorHomeButton);
  border-color: transparent;
  background: var(--bgHomeButton);
  transition: all 0.3s ease-in-out;
  font-size: 0.9rem;
  letter-spacing: 3px;
  margin: 16px 0;
  padding: 16px;
  border-radius: 50px;
  outline: none;
  border-style: solid;
  cursor: pointer;
  text-transform: uppercase;
  width: 100%;
}

.social {
  color: var(--bgHomeButton);
}

.social:hover {
  color: var(--bgHomeButton-hover);
  background: var(--colorHomeButton-hover);
}

.gitHub {
  border-radius: 100%;
}

.linkedIn {
  border-radius: 3px;
}

.Home button:hover {
  color: var(--colorHomeButton-hover);
  background: var(--bgHomeButton-hover);
}

@media (max-width: 894px) {
  .Home {
    flex-direction: column;
  }
  .left {
    flex: 0;
  }
}
