.formLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  width: 100%;
  padding: 24px;
}

.formLogin input,
.formLogin button,
.formLogin .fileUploadLabel,
.formLogin textarea {
  font-size: 1.3rem;
  margin: 16px 0;
  padding: 16px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  border: 2px solid gray;
}

.formLogin textarea {
  height: 250px;
  resize: none;
}

.formLogin input:focus,
.formLogin textarea:focus {
  border-color: #72f;
}

.formLogin input[type="file"] {
  display: none;
}

.formLogin button {
  color: var(--color-button);
  border-color: #72f;
  background: var(--background-button);
  transition: all 0.3s ease-in-out;
}

.formLogin .uploadButton {
  width: 200px;
  justify-self: center;
  margin: auto;
}
.formLogin button:hover {
  color: var(--color-button-hover);
  background: var(--background-button-hover);
}
