.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1500px;
  margin-bottom: 100px;
}

.card {
  height: 500px;
  max-width: 400px;
  background-color: white;
  color: black;
  margin: 1rem;
  flex-basis: 45%;
  display: flex;
  flex-direction: column;

  text-align: left;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  box-shadow: 2px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.card img {
  width: 100%;
  max-height: 250px;
  height: 100%;
  object-fit: fill;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px 10px 0 0;
  justify-self: flex-start;
  filter: grayscale(95%);
  transition: all 0.3s ease-in-out;
}
.card:hover,
.card:focus,
.card:active {
  border-color: #72f;
}

.card:hover img {
  filter: grayscale(20%);
}

.card h3 {
  margin: 0 10px;
  padding: 0 10px 4px 10px;
  font-size: 1.5rem;
}

.card p {
  margin: 0 10px;
  padding: 0 10px;

  line-height: 1.5;
}

.card button {
  justify-self: flex-end;
  align-self: center;
  padding: 8px;
}

@media (max-width: 320px) {
  .card {
    max-height: 480px;
  }
  .card p {
    font-size: 1rem;
  }
}

@media (min-width: 321px) {
  .card p {
    font-size: 1.15rem;
  }
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .card img {
    filter: grayscale(20%);
  }
}
