.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin-top: 3rem;
}

.card {
  max-height: 400px;
  height: 100%;
  max-width: 400px;
  background-color: white;
  color: black;
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  box-shadow: 2px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.cardImage {
  height: 228px;
}

.card img {
  width: 100%;
}
.card:hover,
.card:focus,
.card:active {
  background: #72f linear-gradient(145deg, #72f, #c1b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  border-color: #72f;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.1rem;
  line-height: 1.5;
}

.cardBody {
  height: 100%;
  padding-top: 8px;
}

.cardLink {
  font-weight: bold;
  font-style: italic;
  color: rgb(63, 62, 62);
}
.cardLink:hover,
.cardLink:focus,
.cardLink:active {
  background: #72f linear-gradient(145deg, #72f, #c1b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

.cardDescription {
  font-style: italic;
  font-size: 1rem;
  color: rgb(95, 92, 92);
}

.closeIcon {
  position: absolute;
  right: 5%;
  top: 5%;
  font-size: 2rem;
  cursor: pointer;
}

.closeIcon:hover {
  color: #72f;
}

@media (max-width: 320px) {
  .cardBody {
    height: 235px;
  }

  .cardImage {
    height: 160px;
  }
}

@media (min-width: 321px) {
  .cardImage {
    height: 200px;
  }
}

@media (max-width: 400px) {
  .cardBody {
    height: 250px;
  }
}

@media (min-width: 401px) {
  .cardImage {
    height: 228px;
  }

  .cardBody {
    height: 220px;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .card {
    max-height: 350px;
  }
}
