.Navbar {
  display: flex;
  padding: 0 16px;
  justify-content: space-between;
  align-items: center;
  background: var(--background-nav);
  width: 100%;
}

.Navbar nav {
  height: 60px;
  padding: 0 16px;
  color: var(--color-nav);

  width: 100%;
  text-transform: uppercase;
}

.Navbar nav ul {
  display: table;

  list-style: none;
}

.Navbar nav ul li {
  display: table-cell;
  position: relative;
}
.Navbar nav ul li a {
  letter-spacing: 5px;
  font-size: 0.9rem;
  margin: 5px 15px;
  display: inline-block;
  position: relative;
}

.Navbar nav ul li a:after {
  bottom: -5px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--color-nav);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.Navbar nav ul li a:hover:after {
  width: 100%;
  left: 0;
}

.roleContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  background: var(--background-nav);
  width: 100%;
}

.roleContainer p {
  margin: 0;
  color: var(--color-nav);
}

.roleContainer span {
  color: var(--color-nav);
  padding: 2px 0;
  cursor: pointer;

  font-size: 0.9rem;

  transition: all 0.3s ease-in-out;
}

.Navbar .deconnect:hover {
  text-decoration: underline;
}

.menuIcon {
  color: var(--color-nav);
  cursor: pointer;
}
