.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin-top: 3rem;
}

.card {
  height: 400px;
  max-width: 400px;
  background-color: white;
  color: black;
  margin: 1rem;
  flex-basis: 45%;
  padding: 0.5rem;
  text-align: left;
  text-decoration: none;
  border: 1px solid #eaeaea;

  transition: color 0.15s ease, border-color 0.15s ease;
  box-shadow: 2px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.card img {
  width: 100%;
}
.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .card {
    max-height: 350px;
  }
}
